// main
main {
  background-image: url("../images/main-img.jpg");
  height: 658px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  padding-bottom: 87px;
  margin-bottom: 171px;
  // header
  header {
    padding-right: 135px !important;
    nav {
      display: flex;
      align-items: center;
      ul {
        list-style: none;
        column-gap: 80px;
        a {
          text-decoration: none;
          color: #262626;
        }
      }
    }
      div {
        transform: rotate(90deg);
        width: 12px;
        letter-spacing: 3px;
      }
    
  }
  h1 {
    max-width: 733px;
    font-size: 64px;
    font-weight: 700;
    margin-left: 343px;
  }
}
@media (max-width: 768px) {
  main {
    align-items: center;
    header {
      nav {
        display: none;
      }
    }
    h1{
        margin: auto;
        text-align: center;
    }
  }
}
