html{
  overflow-x: hidden;
}
.container {
  max-width: 1280px;
}
.rounded-4 {
  border-radius: 20px;
}
.rounded-5 {
  border-radius: 42px;
  width: 100%;
}
div,
main {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
}
@media(max-width: 768px){
  .container{
    padding: 13px;
  }
}
